# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.ilk
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python Sphinx
**/_build/doctrees/*
**/_build/html/*
**/_build/latex/*
!Handout-Funkcijas/_build/latex/*.pdf
**/_static/*
.idea/*
*_numpy.py

.DS_Store
**/__pycache__/*
3d-printing/8tetrakubi
3d-printing/hexamonds
3d-printing/hexamonds
3d-printing/hexamonds
3d-printing/photos
# *.stl
3d-printing/payment_161011-00018.pdf
.Rhistory